.login-container {
  background-image: url('../assets/background.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  height: 450px; /* Establece una altura fija */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
}

.logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

button {
  background-color: red;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.input-container,
.password-container {
  position: relative;
  margin-bottom: 10px;
  height: 45px; /* Altura fija para los contenedores de entrada */
}

.password-container span {
  position: absolute;
  right: 0px;
  top: 30%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  background-color: #f0f0f000;
  border-radius: 5px;
}

.password-container input[type="text"],
.password-container input[type="password"] {
  padding-right: 40px;
  width: 100%;
}

.error-message {
  height: 20px; /* Reserva espacio para el mensaje de error */
  color: red;
  width: 30%;
  text-align: center;
  margin-bottom: 10px; /* Añade un margen si es necesario */
}
