.recipe-container-post-recipe {
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding: 50px;
  border-radius: 15px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 1200px;
}

/* Estilos para el fondo de pantalla completa (excepto el encabezado) */
.bg-image {
  position: fixed;
  top: 100px; /* Altura del encabezado */
  left: 0;
  width: 100%;
  background-image: url("../assets/background.png"); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-attachment: fixed; /* Fija la imagen en su lugar mientras se desplaza */
}

#title{
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #000000; /* Color del título */ 
}

#subtitle{
  font-size: 19px;
}
.logo-post-recipe {
  width: 120px;
  height: 100px;
}

.lang-user span {
  margin-right: 10px;
}

.recipe-form {
  width: 90%; /* Ajuste al tamaño del formulario */
  max-width: 900px;
  padding: 20px;
  background-color: #ffb79fe0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-section, .details-section {
  width: 90%; /* Reducido para tener margen en los lados */
  margin-bottom: 20px;
  margin-left: -70px;
  display: flex;
  flex-direction: column;
}

.input-section label,
.details-section label,
.ingredient-section label,
.preparation-section label {
  margin-bottom: 10px; /* Espaciado entre el título y el área de texto */
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  resize: vertical;
}

.ingredient-list, .preparation-list {
  max-height: 100px;
  overflow-y: auto;
}

.details-section {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.time-input,
.energy-input {
  margin-top: 10px;
}

.time-input input[type="time"],
.energy-input input[type="number"] {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 5px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-button {
  padding: 10px 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.upload-icon {
  margin-right: 10px;
}

.post-button {
  margin-top: 20px;
  background-color: #e71414;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.post-button:hover {
  background-color: #ff4d4d;
}

.recipe-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 10px;
}

.upload-btn-wrapper {
  margin-right: 20px;
}

.upload-button {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #f2f2f2;
}

.upload-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.detail-item {
  width: 15%; 
  margin: 10px 20px 0 0 ;
}

.detail-item label {
  display: block;
  margin-bottom: 5px;
}

.time-input input[type="time"],
.energy-input input[type="number"] {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
}

.difficulty {
  display: flex;
  align-items: center;
  margin: 0 20px 10px 0;
}

.difficulty span {
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 5px;
}

.form-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.input-subsection {
  display: flex; /* Alinea los elementos secundarios en línea */
  justify-content: space-between; /* Coloca elementos secundarios a los lados */
  width: 100%; /* O ajusta el ancho según tus necesidades */
}

.ingredients-section, .preparation-section {
  width: 48%; /* Cambia el ancho según tus necesidades y agrega un margen si es necesario */
  box-sizing: border-box; /* Evita que el margen y el relleno afecten el ancho total */
  padding: 10px; /* Añade relleno según tus preferencias */
  border-radius: 10px; /* Agrega bordes redondeados si es necesario */
}


.ingredient-item, .preparation-item {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.ingredient-input-group, .instruction-input-group {
  margin-top: 1px;
}

.ingredient-unit-select{
  margin-bottom: 10px;
  margin-top: 1px;
}

#buttons_postRecipe {
  background: linear-gradient(90deg, rgb(245 36 20) 0%, rgb(240 109 90) 100%);
  border: none;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-bottom: 10px;
}

#input_postRecipe {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  font-size: 16px;
}

#input_postRecipe-ingredient {
  width: 96%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  margin: 10px 0;
}

#textArea_postRecipe{
  width: 93%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  margin:10px 0 0 0;
}
