/* RecipeDetail.css */

/* Aplica el filtro de desenfoque al fondo de imagen */
.background-image-detail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/background.png"); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-attachment: fixed; /* Fija la imagen en su lugar mientras se desplaza */
  filter: blur(
    3px
  ); /* Aplica un filtro de desenfoque (ajusta el valor según tus preferencias) */
  z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
}

/* Encabezado (mismo que el de App) */
.header_recipe_detail {
  position: fixed;
  width: 100%;
  background-color: #9e0000;
  text-align: center;
  z-index: 1;
  height: 100px;
  padding: 5px 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Ajustar el color del texto para que el nombre sea visible en el encabezado oscuro */
.h1_recipe_detail {
  font-size: 36px;
  margin-top: 30px;
  margin-right: auto;
  place-content: center;
}

.logo_recipe_detail {
  width: 120px;
  height: 100px;
  margin-right: auto;
}

/* Cuadrado para el contenido de receta */
.recipe-square-detail {
  background-color: #ffb79fe0; /* Color de fondo del cuadrado */
  width: 80%; /* Ancho del cuadrado */
  margin: 160px auto; /* Márgenes para centrar el cuadrado */
  border-radius: 8px;
  padding: 110px 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.39); /* Sombra */
}

/* Contenido de detalle de receta */
.recipe-content {
  display: flex;
  align-items: flex-start;
}

/* Detalles de la receta (ingredientes y pasos) */
.recipe-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ancho del cuadrado */
}

/* Caja de pasos */
.step-box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.39); /* Sombra */
  background-color: #ffb9b9; /* Color de fondo azul claro */
  height: auto;
  border-radius: 8px;
  text-align: center;
  width: 85%; /* Ancho del cuadrado */
}

/* Caja de ingredientes */
.ingredient-box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.39); /* Sombra */
  background-color: #ffb9b9; /* Color de fondo amarillo */
  height: auto;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px; /* Espacio entre cajas */
  margin-top: -40px;
  width: 85%; /* Ancho del cuadrado */
}

/* Caja de ingredientes */
.info-box {
  background-color: #ffb9b9; /* Color de fondo amarillo */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.39); /* Sombra */
  height: auto;
  border-radius: 8px;
  text-align: center;
  width: 95%; /* Ancho del cuadrado */
}

/* Imagen de la receta (a la izquierda) */
.recipe-image-recipeDetail {
  width: 300px; /* Tamaño de la imagen */
  height: auto;
  margin-right: 20px;
  margin-top: -35px;
  margin: -10px 20px 30px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.39); /* Sombra */
}

h2 {
  font-size: 26px;
  margin-bottom: 20px;
  color: #333; /* Color del título */
}

ul,
ol {
  text-align: left;
  list-style: none;
  padding: 0;
}

li {
  margin: 0 0 15px 20px;
  font-size: 17px;
  font-weight: bold;
  color: #333; /* Color del texto de ingredientes y pasos */
}

/* Estilos para el contenedor de la imagen y la caja de información */
.image-info-container {
  display: flex;
  flex-direction: column;
}

/* Estilos para la sección de Difficulty y Time */
.info-section {
  display: flex;
  align-items: center;
  margin: 10px 20px;
  font-size: 16px;
}

.info-content {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.difficulty-stars {
  display: flex;
  margin-left: 10px;
}

.star {
  font-size: 24px;
  color: black; /* Color de las estrellas (puedes ajustarlo) */
}

p {
  font-size: 18px;
  color: #333; /* Color del texto de tiempo */
  margin-left: 10px;
}

#time {
  font-size: 20px;
  font-weight: bold;
}
