/* RecipeDetail.css */

/* Contenedor principal del detalle de receta */
.recipe-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Encabezado (mismo que el de App) */
.header {
  position: fixed;
  width: 100%;
  background-color: #9e0000; /* Color de fondo del encabezado */
  text-align: center;
  z-index: 1; /* Asegura que el encabezado esté por encima del contenido */
  height: 100px; /* Reducir la altura del encabezado */
  padding: 5px 0; /* Ajustar el espaciado interior para centrar el contenido */
  color: #fff; /* Color del texto del encabezado */
}

/* Ajustar el color del texto para que el nombre sea visible en el encabezado oscuro */
h1 {
  font-size: 36px;
  margin-top: -70px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: auto;
}

.logo_logut {
  width: 120px;
  height: 100px;
  margin-bottom: 5px;
}

#form-singup {
  background-color: #ffb79fe0;
  padding: 20px;
  border-radius: 8px;
  width: 335px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
}

.input-container, .password-container {
  margin-bottom: 15px;
}

input, textarea, button {
  width: 295px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);  /* input shadow */
  font-size: 16px;
}

button {
  background: linear-gradient(90deg, rgb(245 36 20) 0%, rgb(240 109 90) 100%);
  border: none;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

input[type="text"], input[type="password"], input[type="email"] {
  width: 295px;
  box-sizing: border-box; /* This ensures padding and border are included in width */
}

.password-container-signup input[type="text"],
.password-container-signup input[type="password"] {
  width: 295px;
  padding-right: 40px;
}


button:hover {
  background: linear-gradient(90deg, rgba(245, 116, 97, 1) 0%, rgba(235, 66, 53, 1) 100%);
}

.toggle-password {
  margin-left: 10px;
  cursor: pointer;
}

/* Estilo para los íconos de mostrar/ocultar contraseña */
.password-container span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
