/* Signup.css */

.register {
  background-image: url("../assets/background.png");
  background-size: cover;
}

.register-container {
  background-color: #ffe7dfe0;
}

.register-title {
  font-weight: 700;
  text-align: center;
}

.register-description {
  margin-left: 32px;
  margin-right: 32px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.register-form {
  padding-left: 32px;
  padding-right: 32px;
}

.register-form .form-check-label {
  margin-top: 4px;
  margin-left: 10px;
}

.register-form #formButtonRegister {
  background: linear-gradient(90deg, rgb(245 36 20) 0%, rgb(240 109 90) 100%);
  border: none;
  transition: background 0.3s ease;
  margin-bottom: 32px;
}

.register-form #formButtonRegister:hover {
  background: linear-gradient(90deg, rgb(161, 16, 5) 0%, rgb(212, 91, 72) 100%);
}