/* RecipeDetail.css */

/* Contenedor principal del detalle de receta */
.recipe-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Encabezado (mismo que el de App) */
.header {
  position: fixed;
  width: 100%;
  background-color: #333; /* Color de fondo del encabezado */
  text-align: center;
  z-index: 1; /* Asegura que el encabezado esté por encima del contenido */
  height: 100px; /* Reducir la altura del encabezado */
  padding: 5px 0; /* Ajustar el espaciado interior para centrar el contenido */
  color: #fff; /* Color del texto del encabezado */
}

/* Ajustar el color del texto para que el nombre sea visible en el encabezado oscuro */
h1 {
  font-size: 36px;
  margin-top: -70px;
}

.logo {
  width: 80px;
  height: 80px;
  margin-right: 10000px;
}
/* Cuadrado para el contenido de receta */
.recipe-square {
  background-color: #7fffa367; /* Color de fondo del cuadrado */
  width: 80%; /* Ancho del cuadrado */
  margin: 160px auto; /* Márgenes para centrar el cuadrado */
  border-radius: 8px;
  padding: 110px 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.39); /* Sombra */
}

/* Contenido de detalle de receta */
.recipe-content {
  display: flex;
  align-items: flex-start;
}

/* Imagen de la receta (a la izquierda) */
.recipe-image {
  width: 300px; /* Tamaño de la imagen */
  height: auto;
  margin-right: 20px;
  margin-top: -35px;
}

/* Detalles de la receta (ingredientes y pasos) */
.recipe-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ancho del cuadrado */
}

/* Caja de ingredientes */
.ingredient-box {
  background-color: #ffc107; /* Color de fondo amarillo */
  height: auto;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px; /* Espacio entre cajas */
  margin-top: -40px;
  width: 85%; /* Ancho del cuadrado */
}

/* Caja de pasos */
.step-box {
  background-color: #00bcd4; /* Color de fondo azul claro */
  height: auto;
  border-radius: 8px;
  text-align: center;
  width: 85%; /* Ancho del cuadrado */
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333; /* Color del título */
}

ul,
ol {
  text-align: left;
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  color: #333; /* Color del texto de ingredientes y pasos */
}


.logo {
  width: 150px;        /* Tamaño del logo. Puedes ajustar según tus necesidades */
  margin-bottom: 2em;  /* Espacio entre el logo y el primer campo */
}

.input-container, 
.password-container {
  width: 100%;         /* Asegura que todos los contenedores de campos tengan el mismo ancho */
  position: relative;  /* Para que los íconos de contraseña estén posicionados correctamente */
  margin-bottom: 1em;  /* Espacio entre campos */
}

input, textarea {
  width: 100%;         /* Asegura que todos los campos tengan el mismo ancho */
  padding: 0.5em;      /* Añade algo de padding para un mejor aspecto */
  box-sizing: border-box; /* Asegura que el padding no aumente el tamaño total del input */
}

/* Estilo para los íconos de mostrar/ocultar contraseña */
.password-container span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
