.user-feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_user_feed {
  position: fixed;
  width: 100%;
  background-color: #8b1818;
  text-align: center;
  z-index: 1;
  height: 100px;
  padding: 5px 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-attachment: fixed;
  filter: blur(3px);
  z-index: -1;
}

.h1_user_feed {
  font-size: 36px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: 500px;
}

.logo_user_feed {
  width: 80px;
  height: 80px;
  margin-right: auto;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
  clear: both;
}

.logout_button_user_feed {
  margin-right: 20px;
  background-color: #8b1818;
  width: 100px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 2;
}

.recipe {
  display: flex;
  background-color: #ee9494;
  border: 1px solid #4d1d1d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.39);
  border-radius: 8px;
  width: 1000px;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.recipe-image {
  width: 20%;
  height: auto;
  border-radius: 4px;
  margin-left: auto;
  max-height: 100%;
  margin-top: 10px;
  margin-bottom: -3px;
}

.recipe-name {
  margin: 0;
  font-weight: bold;
  font-size: 28px;
  flex-grow: 1;
}

.post-recipe-button {
  margin-right: 60px;
  background-color: #8b1818;
  width: 100px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 2;
}

.post-recipe-button:hover {
  background-color: #6a1212;
}
